# Common physical-board policy: internal updates are constrained to COREBOOT.
include $(pwd)/boards/starlabs/common.config

export CONFIG_FLASH_OPTIONS="flashprog --progress --programmer internal --fmap -i COREBOOT"
export CONFIG_FLASH_READ_OPTIONS="flashprog --progress --programmer internal --fmap -i COREBOOT -i FMAP"
export CONFIG_CBFS_VIA_FLASHPROG=y
